<p-toast></p-toast>
<br />
<p-button
  label="{{ 'TOPIC_LIST.REVIEWER_LIST' | translate }}"
  icon="pi pi-add"
  styleClass="p-mr-2 p-button-raised"
  (click)="onWorkerList()"
></p-button>
<br />
<div *ngFor="let fieldOfStudy of fieldsOfStudy">
  <br />
  <p-panel
    header="{{ fieldOfStudy.name }}, {{ fieldOfStudy.degree }}, {{
      fieldOfStudy.defenceYear
    }}"
    [toggleable]="true"
  >
    <div class="card">
      <p-table
        [value]="fieldOfStudy.data!.results!"
        [paginator]="true"
        responsiveLayout="scroll"
        [lazy]="true"
        (onLazyLoad)="loadCandidates($event, fieldOfStudy.id!)"
        [totalRecords]="fieldOfStudy.data!.totalItems!"
        [loading]="loading[fieldOfStudy.id!]"
        [rowsPerPageOptions]="[10, 25, 50]"
        [rows]="10"
        dataKey="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>
              {{ "TOPIC_LIST.TOPIC_NAME_PL" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.TOPIC_NAME_EN" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.SUPERVISOR" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.REVIEWER" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.STATUS" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.CATHERDA" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.CHOOSE_REVIEWER" | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-thesis>
          <tr>
            <td>{{ thesis.name }}</td>
            <td>{{ thesis.englishName }}</td>
            <td>
              {{ thesis.supervisorAcademicDegree }}
              {{ thesis.supervisorFullName }}
            </td>
            <td>
              {{ thesis.reviewerAcademicDegree }} {{ thesis.reviewerFullName }}
            </td>
            <td>{{ thesis.supervisorDepartment }}</td>
            <td>
              <p-dropdown
                [options]="reviewers"
                [(ngModel)]="thesis.reviewerId"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
              >
              </p-dropdown>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br />
      <p-confirmPopup></p-confirmPopup>
      <p-button
        class="lower-button"
        icon="pi pi-check"
        iconPos="left"
        label="{{ 'TOPIC_LIST.BUTTON_CONFIRM' | translate }}"
        (click)="onRevieverChange($event, fieldOfStudy.data!.results!)"
      ></p-button>
    </div>
  </p-panel>
</div>
