<div class="content-display">
  <div *ngIf="student !== null && student !== undefined">
    <h2>{{ student[0].name }} {{ student[0].index }}</h2>
  </div>
  <div
    *ngIf="
      worker !== null &&
      worker !== undefined &&
      (student === null || student === undefined)
    "
  >
    <h2>{{ worker.name }}</h2>
  </div>
  <br />
  <div *ngIf="student !== null && student !== undefined">
    <div *ngFor="let stud of student">
      <h2>{{ stud.fieldOfStudy }}</h2>
      <h2>{{ stud.specialization }}</h2>
      <h2>{{ "USER_DETAILS.DEGREE" | translate }} {{ stud.degree }}</h2>
      <h2>{{ "USER_DETAILS.SEMESTER" | translate }} {{ stud.semester }}</h2>
      <h2>{{ "USER_DETAILS.STUDY_FORM" | translate }} {{ stud.studyForm }}</h2>
    </div>
  </div>
  <div *ngIf="worker !== null && worker !== undefined">
    <h2>{{ worker.department }}</h2>
    <h2>
      <div *ngIf="worker.position === 'AssistantProfessor'">
        {{ "ENUM.ASSISTANT_PROFESSOR" | translate }}
      </div>
      <div *ngIf="worker.position === 'SeniorLecturer'">
        {{ "ENUM.SENIOR_LECTURER" | translate }}
      </div>
      <div *ngIf="worker.position === 'Lecturer'">
        {{ "ENUM.LECTURER" | translate }}
      </div>
      <div *ngIf="worker.position === 'Assistant'">
        {{ "ENUM.ASSISTANT" | translate }}
      </div>
    </h2>
    <h2>
      <div *ngIf="worker.hasConsentToExtendPensum">
        {{ "USER_DETAILS.PENSUM_AGREE" | translate }}
      </div>
      <div *ngIf="!worker.hasConsentToExtendPensum">
        {{ "USER_DETAILS.PENSUM_DISAGREE" | translate }}
      </div>
    </h2>
    <h3>{{ "USER_DETAILS.AREAS_OF_INTEREST" | translate }}</h3>
    <p-multiSelect
      [options]="areas"
      [(ngModel)]="selectedAreas"
      display="chip"
      optionLabel="name"
    ></p-multiSelect>
    <br />
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-save"
      iconPos="left"
      label="{{ 'USER_DETAILS.BUTTON_SAVE' | translate }}"
      class="p-button-outlined"
      (click)="saveAreas()"
    ></button>
  </div>
</div>
