<p-toast></p-toast>
<div class="two-columns">
  <div class="card">
    <p-card header="{{ 'THESIS.MY_ACCEPTED_TOPICS' | translate }}">
      <br />
      <br />
      <!--
        Tutaj lista tematów zaakceptowanych tabela
      -->
      <br />
      <br />
      <br />
    </p-card>
  </div>
  <div class="card">
    <p-card header="{{ 'THESIS.THESIS' | translate }}">
      <br />
      <br />
            <!--
        Tutaj lista prac do otworzenia
      -->
      <br />
      <br />
      <br />
    </p-card>
  </div>
</div>
