<div class="center-content">
  <form [formGroup]="formGroup">
    <h4>{{ "PASSWORD_CHANGE.NEW_PASSWORD" | translate }}</h4>
    <p-password
      formControlName="newPassword"
      [(ngModel)]="model.newPassword"
    ></p-password>

    <h4>{{ "PASSWORD_CHANGE.REPEAT_PASSWORD" | translate }}</h4>
    <div class="pass-label">
      <p-password
        formControlName="newPasswordRepeat"
        [(ngModel)]="model.newPasswordRepeat"
      >
      </p-password>
      <div>
        <small *ngIf="!isPasswordMatching()" class="p-error">
          {{ "PASSWORD_CHANGE.NOT_MATCH" | translate }}
        </small>
      </div>
    </div>
    <br />
    <br />
    <p-button
      label="{{ 'PASSWORD_CHANGE.CONFIRM' | translate }}"
      [disabled]="isButtonDisabled()"
      (click)="onPasswordChange($event)"
    ></p-button>
  </form>
</div>
