<br />
<br />
<form [formGroup]="formGroup">
  <div class="top-fields">
    <div>
      <span class="p-float-label">
        <p-inputNumber
          formControlName="minReviews"
          [(ngModel)]="minReviews"
          [min]="0"
        ></p-inputNumber>
        <label for="minReviews">{{
          "USER_DETAILS.MIN_REVIEWS" | translate
        }}</label>
      </span>
    </div>
    <div>
      <span class="p-float-label">
        <p-inputNumber
          formControlName="maxReviews"
          [(ngModel)]="maxReviews"
          [min]="0"
        ></p-inputNumber>
        <label for="maxReviews">{{
          "USER_DETAILS.MAX_REVIEWS" | translate
        }}</label>
      </span>
    </div>
    <div>
      <span class="p-float-label">
        <p-multiSelect
          formControlName="areas"
          [options]="areas"
          [(ngModel)]="selectedAreas"
          display="chip"
          optionLabel="name"
          optionValue="id"
        ></p-multiSelect>
        <label for="areas">{{
          "USER_DETAILS.AREAS_OF_INTEREST" | translate
        }}</label>
      </span>
    </div>
    <p-button
      icon="pi pi-search"
      iconPos="left"
      label="{{ 'USER_DETAILS.BUTTON_SEARCH' | translate }}"
      (click)="searchForReviewers()"
    ></p-button>
    <div></div>
    <div></div>
  </div>
  <br />
</form>
<h2>{{ "USER_DETAILS.WORKERS" | translate }}</h2>
<div *ngFor="let worker of workers">
  <div>
  <div *ngIf="worker.title === 'Engineer'">
    {{ "ENUM.Engineer" | translate }}
  </div>
  <div *ngIf="worker.title === 'MasterOfScience'">
    {{ "ENUM.MasterOfScience" | translate }}
  </div>
  <div *ngIf="worker.title === 'MasterOfScienceBEng'">
    {{ "ENUM.MasterOfScienceBEng" | translate }}
  </div>
  <div *ngIf="worker.title === 'DoctorOfPhilosophy'">
    {{ "ENUM.DoctorOfPhilosophy" | translate }}
  </div>
  <div *ngIf="worker.title === 'DoctorOfPhilosophyBEng'">
    {{ "ENUM.DoctorOfPhilosophyBEng" | translate }}
  </div>
  <div *ngIf="worker.title === 'DoctorOfScience'">
    {{ "ENUM.DoctorOfScience" | translate }}
  </div>
  <div *ngIf="worker.title === 'DoctorOfScienceBEng'">
    {{ "ENUM.DoctorOfScienceBEng" | translate }}
  </div>
  <div *ngIf="worker.title === 'ProfessorOfUniversity'">
    {{ "ENUM.ProfessorOfUniversity" | translate }}
  </div>
  <div *ngIf="worker.title === 'Professor'">
    {{ "ENUM.Professor" | translate }}
  </div>
  {{ worker.employee }}
</div><br />
  {{ worker.department }} <br />
  <div *ngIf="worker.position === 'AssistantProfessor'">
    {{ "ENUM.ASSISTANT_PROFESSOR" | translate }}
  </div>
  <div *ngIf="worker.position === 'SeniorLecturer'">
    {{ "ENUM.SENIOR_LECTURER" | translate }}
  </div>
  <div *ngIf="worker.position === 'Lecturer'">
    {{ "ENUM.LECTURER" | translate }}
  </div>
  <div *ngIf="worker.position === 'Assistant'">
    {{ "ENUM.ASSISTANT" | translate }}
  </div>
  <br />
  {{ "USER_DETAILS.ACTUAL_REVIEWS" | translate }} {{ worker.reviewsNumber }}
  <br />
  {{ "USER_DETAILS.AREAS" | translate }}
  <div *ngFor="let area of worker.areasOfInterestIds">
    {{ getAreaName(area) }}
  </div>
</div>
<br />
<br />
<div class="bottom-buttons">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-times"
    iconPos="left"
    label="{{ 'TOPIC_PROPOSAL.BUTTON_CANCEL' | translate }}"
    class="p-button-outlined"
    (click)="onCancel()"
  ></button>
</div>
