<p-card header="{{ 'REVIEW.THESIS' | translate }} {{ review.topic }}">
  <form [formGroup]="formGroup">
    <p-panel header="{{ 'REVIEW.PURPOSE' | translate }}" [toggleable]="true">
      <div>
        <div>
          <textarea
            formControlName="purpose"
            [(ngModel)]="purpose"
            pInputTextarea
            rows="5"
            cols="150"
          ></textarea>
        </div>
        <br />
        <br />
        <span class="p-float-label">
          <p-dropdown
            formControlName="purposeNumber"
            [options]="purposeNumber"
            [(ngModel)]="selectedPurposeNumber"
            optionLabel="name"
            optionValue="name"
          >
          </p-dropdown>
          <label for="purposeNumber">{{ "REVIEW.IS_DONE" | translate }}</label>
        </span>
      </div>
    </p-panel>
    <p-panel header="{{ 'REVIEW.STRUCTURE' | translate }}" [toggleable]="true">
      <div>
        <div>
          <textarea
            formControlName="structure"
            [(ngModel)]="structure"
            pInputTextarea
            rows="5"
            cols="150"
          ></textarea>
        </div>
        <br />
        <br />
        <span class="p-float-label">
          <p-dropdown
            formControlName="structureNumber"
            [options]="structureNumber"
            [(ngModel)]="selectedStructureNumber"
            optionLabel="name"
            optionValue="name"
          >
          </p-dropdown>
          <label for="structureNumber">{{
            "REVIEW.IS_DONE" | translate
          }}</label>
        </span>
      </div>
    </p-panel>
    <p-panel header="{{ 'REVIEW.DESIGN' | translate }}" [toggleable]="true">
      <div>
        <div>
          <textarea
            formControlName="design"
            [(ngModel)]="design"
            pInputTextarea
            rows="5"
            cols="150"
          ></textarea>
        </div>
        <br />
        <br />
        <span class="p-float-label">
          <p-dropdown
            formControlName="designNumber"
            [options]="designNumber"
            [(ngModel)]="selectedDesignNumber"
            optionLabel="name"
            optionValue="name"
          >
          </p-dropdown>
          <label for="designNumber">{{ "REVIEW.IS_DONE" | translate }}</label>
        </span>
      </div>
    </p-panel>
    <p-panel header="{{ 'REVIEW.SOURCES' | translate }}" [toggleable]="true">
      <div>
        <div>
          <textarea
            formControlName="sources"
            [(ngModel)]="sources"
            pInputTextarea
            rows="5"
            cols="150"
          ></textarea>
        </div>
        <br />
        <br />
        <span class="p-float-label">
          <p-dropdown
            formControlName="sourcesNumber"
            [options]="sourcesNumber"
            [(ngModel)]="selectedSourcesNumber"
            optionLabel="name"
            optionValue="name"
          >
          </p-dropdown>
          <label for="sourcesNumber">{{ "REVIEW.IS_DONE" | translate }}</label>
        </span>
      </div>
    </p-panel>
    <p-panel header="{{ 'REVIEW.ASSESMENTS' | translate }}" [toggleable]="true">
      <div>
        <br />
        <span class="p-float-label">
          <p-dropdown
            formControlName="assesment"
            [options]="assesment"
            [(ngModel)]="selectedAssesment"
            optionLabel="name"
            optionValue="name"
          >
          </p-dropdown>
          <label for="assesment">{{ "REVIEW.ASSESMENTS" | translate }}</label>
        </span>
      </div>
    </p-panel>
    <br />
    <br />
    <p-confirmPopup></p-confirmPopup>
    <div class="bottom-buttons">
      <p-button
        icon="pi pi-check"
        iconPos="left"
        label="{{ 'TOPIC_PROPOSAL.BUTTON_CONFIRM' | translate }}"
        (click)="onConfirm($event)"
      ></p-button>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        iconPos="left"
        label="{{ 'TOPIC_PROPOSAL.BUTTON_CANCEL' | translate }}"
        class="p-button-outlined"
        (click)="onCancel()"
      ></button>
    </div>
  </form>
</p-card>
