<p-toast></p-toast>
<div class="two-columns">
  <div class="card">
    <div>
      <p-card header="{{ 'THESIS.DATA_HEADDER' | translate }}">
        {{ myThesis.topicName }}<br />
        {{ myThesis.topicEnglishName }}<br />
        {{ "THESIS.SUPERVISOR" | translate }} {{ myThesis.supervisorFullName
        }}<br />
        {{ "DECLARATION.LANGUAGE" | translate }} {{ myThesis.language }}<br />
        {{ "TOPIC_PROPOSAL.FIELD_OF_STUDY" | translate
        }}{{ myThesis.fieldOfStudy }}<br />
        {{ "TOPIC_PROPOSAL.YEAR_OF_DEFENCE" | translate }}
        {{ myThesis.yearOfDefence }}<br />
        <br />
        <p-button
          iconPos="left"
          label="{{ 'THESIS.BUTTON_DECLARATION' | translate }}"
          (click)="onSendDeclaration()"
        ></p-button>
      </p-card>
    </div>
    <div class="bottom-card">
      <p-card header="{{ 'THESIS.MARK_HEADDER' | translate }}">
        <div *ngFor="let review of myThesis.reviews">
          <p-panel header="{{ review.reviewer }}">
            <div class="two-columns">
              <div>
                {{ "THESIS.DATE" | translate }} {{ review.timestamp }}<br />
                {{ "THESIS.MARK" | translate }} {{ review.grade }}
              </div>
              <div>
                <p-button
                  icon="pi pi-file-o"
                  iconPos="left"
                  label="{{ 'THESIS.BUTTON_REVIEW' | translate }}"
                  (click)="onOpenReview(review.id!)"
                ></p-button>
              </div>
            </div>
          </p-panel>
        </div>
      </p-card>
    </div>
  </div>

  <div class="card">
    <p-card header="{{ 'THESIS.FILE' | translate }}">
      <div class="two-columns">
        <p-fileUpload
          mode="basic"
          [customUpload]="true"
          [multiple]="false"
          (uploadHandler)="onUploadThesis($event)"
          [auto]="true"
          [maxFileSize]="20000000"
          chooseLabel="{{ 'THESIS.BUTTON_UPLOAD' | translate }}"
        ></p-fileUpload>
        <p-button
          iconPos="left"
          label="{{ 'THESIS.BUTTON_DOWNLOAD' | translate }}"
          (click)="onDownloadThesis()"
        ></p-button>
        <p-button
          iconPos="left"
          label="{{ 'THESIS.BUTTON_DELETE' | translate }}"
          (click)="onDeleteThesis()"
        ></p-button>
      </div>
    </p-card>
    <br />
    <p-card header="{{ 'THESIS.ACTIONS' | translate }}">
      <h2>{{ myThesis.status }}</h2>
      <br />
      <br />
      <p-button
        iconPos="left"
        label="{{ 'THESIS.SEND_DECLARATION' | translate }}"
        (click)="onSendDeclaration()"
        [disabled]="isDeclarationDisabled()"
      ></p-button>
      <br />
      <br />
      <p-button
        iconPos="left"
        label="{{ 'THESIS.TO_REVIEW' | translate }}"
        [disabled]="isToReviewDisabled()"
        (click)="onSendToReview($event)"
      ></p-button>
    </p-card>
  </div>
</div>
