<br />
<h2>{{ "TOPIC_LIST.MY_REVIEWS" | translate }}</h2>
<div *ngFor="let fieldOfStudy of fieldsOfStudy">
  <br />
  <p-panel
    header="{{ fieldOfStudy.name }}, {{ fieldOfStudy.degree }}, {{
      fieldOfStudy.defenceYear
    }}"
    [toggleable]="true"
  >
    <div class="card">
      <p-table
        [value]="fieldOfStudy.data!.results!"
        [paginator]="true"
        responsiveLayout="scroll"
        [rowsPerPageOptions]="[10, 25, 50]"
        [lazy]="true"
        (onLazyLoad)="loadTopics($event, fieldOfStudy.id!)"
        [totalRecords]="fieldOfStudy.data!.totalItems!"
        [loading]="loading[fieldOfStudy.id!]"
        [rowsPerPageOptions]="[10, 25, 50]"
        [rows]="10"
        dataKey="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>
              {{ "TOPIC_LIST.TOPIC_NAME_PL" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.TOPIC_NAME_EN" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.SUPERVISOR" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.REVIEWER" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.STATUS" | translate }}
            </th>
            <th>
              {{ "TOPIC_LIST.CATHERDA" | translate }}
            </th>
            <th style="width: 5rem">
              {{ "TOPIC_LIST.ACTION" | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-topic>
          <tr>
            <td>{{ topic.title }}</td>
            <td>{{ topic.englishTitle }}</td>
            <td>{{ topic.supervisor }}</td>
            <td>{{ topic.realizer }}</td>
            <td>{{ topic.status }}</td>
            <td>{{ topic.department }}</td>
            <td style="white-space:nowrap;">
              <button
                pButton
                type="button"
                icon="pi pi-cog"
                (click)="onAddReview(topic.thesisId)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-cog"
                (click)="onDownloadThesis(topic.thesisId)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
</div>
