.top-label {
  justify-content: space-between;
  display: flex;
}

.top-name {
  margin-top: 4px;
  margin-bottom: 6px;
}

.toolbar {
  margin: 0px;
}

.top-margin {
  margin-left: 20px;
  margin-bottom: 10px;
}


